<head>
    <title>Actors</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
<body>
<h1> Actor List </h1>
<p>
<ul>
  <% @actors.each do |actor| %>
    <li><a href="/actors/<%= "#{actor['id']}" %>"><%= "#{actor["name"]}" %></a>
    </li>
  <% end %>
</ul>
</p>
</body>
