<head>
    <title>Recipe Book</title>
  </head>
<body>
<center>
<h2> Recipe Book </h2>
<div class="container">
	<div class="jumbotron">
		<ul>
		  <% @recipes.each do |recipe| %>
		    <a href="/recipes/<%= "#{recipe['id']}" %>"><%= "#{recipe['name']}" %></a>
		  </br>
		  <% end %>
		</ul>
		</body>
		<%= will_paginate @recipes %>
</center>
	</div>
</div>
