<head>
    <title>Recipe Book</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
<body>
<h1> Recipe Book </h1>
<p>
<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipe/<%= "#{recipe['id']}" %>"><%= "#{recipe["name"]}" %></a>
    </li>
  <% end %>
</ul>
</p>
</body>
